@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/*   font-family: 'Comfortaa', Arial, Helvetica, sans-serif; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.nav-links:hover{
  background-color: transparent !important;
  
}

.home .post img{
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: .6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
}

/* Navbar Top*/

.nav-top-contain{
  background-color: rgba(0, 0, 0, 0.815);
  position:absolute;
  z-index: 9;
  height: 55px;
  
}

.nav-top-sub{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  
}

.nav-contact-links{
  font-size: 16px;
  text-decoration: none;
  float:right;
}

.nav-social-contain{
  float: right !important;
  text-align: right !important;
}

.nav-social-links{
  font-size: 30px;

}


/* Navbar main */

.nav-main-contain{
  background-color: rgba(0, 0, 0, 0.5);
  height: 105px;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 55px;

}

.nav-main-sub{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;

}

.main-logo{
  height: 100px;
  width: auto;
  float: right;
}

.nav-main-links{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none ;
  align-items: flex-end;
  text-align: end;

}

.nav-links-main{
  float: right;
  margin-top: 40px !important ;
}

#dropdown{
  background-color: transparent;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: none !important;
  vertical-align: middle;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border:  none;
}

.nav-drop-sub{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.575) !important;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif !important; 
  font-size: 20px !important;
  font-weight:bolder !important;
  text-shadow: black;
  color: #ffffff !important;
  margin-top: 0px !important;

}

.dropdown-menu{
  background-color: transparent !important;
  border-color: none !important;
  margin: 100%;
  border: none;

}

/* Navbar Video // For Home */

.video-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;

}

.video-container-sub {
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#video-bg{
  width:100%;
}

/* Banner */

.banner-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;

}

.banner-container-sub {
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}

#banner-bg{
  width:100%;
}


/* Main Footer */

.footer-main-contain{
  margin: 0 !important;
  padding: 0 !important;
}

.footer-contain{
 background-color: rgb(24, 24, 24) !important;
 height: 200px !important;
 width: 100%;
 margin: 0;
bottom: 0 !important;
 position:absolute;
}

.footer-main-sub{
  width: 100%;
  height: 140px !important;
}

.footer-img-logo{
  height: 140px;
  width: auto;
  justify-content: right !important;
  display: flex;
  align-content: right;
  
}

.footer-a-logo{
  justify-content: right;
  display: flex;
}

.footer-logo-contain{
 display: flex;
}

.footer-main-links{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif !important; 
  font-size: 20px !important;
  font-weight: bolder !important;
  color: #0000E0;
  text-decoration: none;
}

.footer-links-contain1{
  margin-bottom: 20px !important;
}


.footer-links-contain2{
  padding-bottom: 50px !important;
}

.footer-social-sub{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 40px;
  
}

.footer-social-bott-links{
  font-size: 35px !important;
  margin-left: 30px;
  color: #0000E0 !important;
  
}

.footer-links-ul{
  margin-top: 25px;
}


/* Bottom Footer */


.footer-bott-contain{
  background-color: black !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  bottom: 0 !important;
  position:absolute;
  text-align: center;
  margin: auto;
}

.footer-bott-text{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif 
}


/* media */

/* .video-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-size: 125%;
  background-position: 40% 0;
} */