@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
/*   font-family: 'Comfortaa', Arial, Helvetica, sans-serif; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
}

.nav-links:hover{
  background-color: transparent !important;
  
}

.home .post img{
  position: absolute;
  top: 20px;
  left: -100px;
  opacity: .6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
}


/* -------- Navbar Top -------- */


.nav-top-contain{
  background-color: rgba(0, 0, 0, 0.815);
  position:absolute;
  z-index: 9;
  height: 55px;
  
}

.nav-top-sub{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  
}

.nav-contact-links{
  font-size: 16px;
  text-decoration: none;
  float:right;
}

.nav-social-contain{
  float: right !important;
  text-align: right !important;
}

.nav-social-links{
  font-size: 30px;

}


/* -------- Navbar main -------- */


.nav-main-contain{
  background-color: rgba(0, 0, 0, 0.5);
  height: 105px;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: 55px;

}

.nav-main-sub{
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;

}

.main-logo{
  height: 100px;
  width: auto;
  float: right;
}

.nav-main-links{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-decoration: none ;
  align-items: flex-end;
  text-align: end;

}

.nav-links-main{
  float: right;
  margin-top: 40px !important ;
}

#dropdown{
  background-color: transparent;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: none !important;
  vertical-align: middle;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border:  none;
}

.nav-drop-sub{
  height: 50px;
  background-color: rgba(0, 0, 0, 0.575) !important;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif !important; 
  font-size: 20px !important;
  font-weight:bolder !important;
  text-shadow: black;
  color: #ffffff !important;
  margin-top: 0px !important;

}

.dropdown-menu{
  background-color: transparent !important;
  border-color: none !important;
  border: none;
}

#dropdown2{
  background-color: transparent;
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: none !important;
  vertical-align: middle;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border:  none;
  margin-left: 15px !important;
}


/* Navbar Video // For Home */


.video-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-bottom: 50px !important;

}

.video-container-sub {
  z-index: -100;
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
}

#video-bg{
  width:100%;
}


/* -------- Page Loading -------- */

h1{
  font-size: 35px!important;
  text-align: center;
}
.loading-page-contain{
  position: relative;
}
.loading-page-sub{
  position: absolute;
  top: 300px !important;
  justify-content: center;
  text-align: center;
}
.loading-text{
  margin: auto;
}



/* -------- Banner -------- */


.banner-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.banner-container-sub {
  z-index:-100;
  width:100%;
  height:100%;
  overflow:hidden;
  position:absolute;
  top:0;
  left:0;
}

.banner-bg{
  width:100%;
  height: 500px;
}
.banner-about-sub{
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
vertical-align: baseline;
}



/* -------- Home // Collage -------- */

.home-photo-collage{
  width: 100%;
  margin-bottom: 100px !important;

}
.home-sub-collage{
  background-image: url('https://www.wallpapertip.com/wmimgs/89-899187_red-plaid-wallpaper-christmas-plaid-wallpaper-iphone.png');
  background-position: 100%;
  background-size: 60%;
  min-height: 660px !important;
  max-height: 750px !important;
  width: 85%;
}

nav.react-images__navigation{
  background-color: transparent !important;
}

button.css-xfk84m.css-1ycyyax{
  background-color: tomato;
}

button.css-1h82jk3.css-1ycyyax{
  background-color: rgb(0, 105, 0);
}



/* -------- Home // Widget -------- */

#widgetIframe{

  width:375px;
  height:520px;
}

#widgetWeather{
  justify-content: center ;
  width:300px;
  height:520px;
}

.home-map-cinci{
  width: 700px;
  height: auto;
  margin-top: 50px;
  border: #88dacf;
  border-width: 8px;
  border-style:ridge;
}


/* --- Cards: Arts & Music/Food & Drinks/Entertainment & Sports --- */


.card-main-contain{
  justify-content: center !important;
}

.card-main{
  width: 480px !important;
  height: 700px !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
}
.card-img{
 width: 425px !important;
 height: 375px !important;
 justify-content: center !important;
}
.card-name{
  font-size: 25px !important;
  font-weight: bolder !important;
  margin-top: 5px !important;
  margin-bottom: 0 !important;
  text-align: left;
}
.card-area{
  font-size: 20px !important;
  margin-top: 3px !important;
  margin-bottom: 0 !important;
  text-align: left;
}
.card-address{
  font-size: 18px !important;
  margin-top: 0px !important;
  margin-bottom: 0 !important;
  text-align: left;
}
.card-description{
  margin-top: 10px !important;
  font-size: 13px !important;
  text-align: left;
 
}
.card-button-website{
  background-color: lightseagreen;
  margin-right: 25px !important;
}


/* --- Cards: Lodging --- */


.card-name-l{
  font-size: 40px !important;
  font-weight: bolder !important;
  margin-top: 0px !important;
  margin-bottom: 0 !important;
}
.card-main-contain-l{
  justify-content: center !important;
  margin-top: 50px !important;
  margin-bottom: 0 !important;
}
.card-main-l{
  width: 950px !important;
  height: 375px !important;
  display: flex;
  flex-wrap: wrap;
}
.card-img-l{
 width: 425px !important;
 height: 375px !important;
}
.card-area-l{
  font-size: 20px !important;
  margin-top: 10px !important;
  margin-bottom: 0 !important;
}
.card-address-l{
  font-size: 18px !important;
  margin-top: 5px !important;
  margin-bottom: 0 !important;
}
.card-button-website-l{
  margin-top: 0px !important;
  margin-right: 25px !important;
  background-color: lightseagreen;
}
img.card-img-top{
  margin: 0!important;
  width: 400px;
}
.card-description-l{
  margin-top: 10px !important;
  font-size: 14px !important;
}
.card-body-l{
  width: 525px;
}


/* --- Cards: Transportation --- */


.card-name-t{
  font-size: 50px !important;
  font-weight: bolder !important;
  margin-top: 25px !important;
  margin-bottom: 0 !important;
  text-align: right;
}
.card-main-t{
  width: 950px !important;
  height: 375px !important;
  display: flex;
  flex-wrap: wrap;
}
.card-img-t{
 width: 425px !important;
 height: 375px !important;
}
.card-area-t{
  font-size: 22px !important;
  margin-top: 18px !important;
  margin-bottom: 0 !important;
  text-align: right;
}
.card-address-t{
  font-size: 18px !important;
  margin-top: 8px !important;
  margin-bottom: 0 !important;
  text-align: right;
}
.card-button-website-t{
  margin-top: 25px !important;
  margin-right: 3px !important;
  background-color: lightseagreen;
}
.card-button-map-t{
  margin-top: 25px !important;
  margin-right: 25px !important;
  background-color: lightseagreen;
}
img.card-img-top{
  margin: 0!important;
  width: 400px;
}
.card-button-map-t{
  margin-top: 25px !important;
  background-color: lightseagreen;
}
.card-phone-t{
  margin-top: 13px !important;
  font-size: 23px !important;
  text-align: right;
}
.card-body-t{
  width: 500px;
}


/* -------- Home -------- */


.awards-contain{
  margin-top: 30px;
  margin-bottom: 60px;
}

.awards-img{
 width: 85% ;
 height: auto;
 margin: auto;
}


/* -------- Arts & Music -------- */


.events-main-contain{
  margin-top: 50px;
}

#artsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
#card-art-img{
  margin:auto !important;
  margin-top: 20px !important;
}


/* -------- Food & Drinks -------- */


#foodList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
#card-food-img{
  margin:auto !important;
  margin-top: 20px !important;
}


/* -------- Entertainment & Sports -------- */


#sportsList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}
#card-sports-img{
  margin:auto !important;
  margin-top: 20px !important;
}


/* -------- Lodging -------- */

.main-contain-l{
 margin-top: 50px !important;
}
#lodgingList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}


/* -------- Transportation -------- */


#tranList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
}



/* -------- Contact -------- */


.banner-contact-sub{
  background-image: url(https://photos.com/featured/cincinnati-skyline-from-top-of-roebling-adam-jones.html);
  background-position: 100%;
  background-size: 60%;
  max-height: 450px !important;
  width: 100%;
}


/* -------- About -------- */


.about-sub-collage{
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F476044623087341203%2F&psig=AOvVaw3st2w9QyczCfNuxNkvZgra&ust=1638909154513000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCKCi2cuC0PQCFQAAAAAdAAAAABAD);
  background-position: 100%;
  background-size: 60%;
  max-height: 500px !important;
  width: 100%;

}

.contact-form{
  margin-top: 100px;
}


/* -------- Main Footer -------- */


.page-footer{
  position:absolute !important;
  left:0 !important;
  bottom: -150 !important;
  right:0 !important;
  padding-bottom: 0 !important;
  margin-top: 50px !important;
}

.footer-contain{
  background-color: rgb(24, 24, 24) !important;
  height: 200px !important;
  width: 100%;
  margin: 0;
}

.footer-main-sub{
  width: 100%;
  height: 100px !important;
  margin: 0 !important;
}

.row{
  margin-bottom: 0 !important;
}

.footer-img-logo{
  height: 140px;
  width: auto;
  justify-content: right !important;
  display: flex;
  align-content: right;
}

.footer-a-logo{
  justify-content: right;
  display: flex;
}

.footer-logo-contain{
  display: flex;
}

.footer-main-links{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif !important; 
  font-size: 16px !important;
  font-weight: bolder !important;
  color: #0000E0;
  text-decoration: none;
}

.footer-social-sub{
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 20px;
}

.footer-social-bott-links{
  font-size: 40px !important;
  margin-left: 30px;
  color: #0000E0 !important;
}

.footer-links-ul{
  margin-top: 25px;
}

.footer-links-contain1{
  padding: 0 !important;
}

.footer-links-contain2{
  padding: 0 !important;
}


/*  --------  Bottom Footer  --------  */


.footer-bott-contain{
  background-color: black !important;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  bottom: 0 !important;
  position: absolute;
  text-align: center;
  margin: auto;
}

.footer-bott-sub{
  font-family: 'Comfortaa', Arial, Helvetica, sans-serif ;
  position: relative;
  right: 4%;
}


/* -------- media  -------- */

/* .video-container{
  position: relative;
  top: 0;
  height:450px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-size: 125%;
  background-position: 40% 0;
} */